/*   */
div.col:first-child {
    background-color:mediumpurple;
}
div.col:first-child p {
    font-size: 15px;
}
div.col:first-child p:last-child {
    font-size: 10px;
}
div.col:first-child img {
    margin-top: 40px;
}
div.col:last-child {
    background-color:lightseagreen;
}
h1 {
    margin-bottom: 40px;
}
h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 160;
    margin-right: 160px;
    padding: 5px;
}
h3 {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    padding: 5px;
}